<!doctype html>
<html>
<head>
     <title>{{ result.name }}</title>
     <link rel="stylesheet" type="text/css"
        href="https://da1s119xsxmu0.cloudfront.net/libraries/basestrap/1.0.1/css/basestrap.css" />
    <link href="https://basespace-cdn-public-east.s3.amazonaws.com/libraries/basespace-javascript-sdk/0.2.0/css/basespace.charts.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="container-fluid" style="margin-top:100px">
    <div class="row-fluid">
        <span class="col-span-12">
            <h2>Flagstats</h2>

            {% for key in result.files %}
                {% if key contains '.flagstats' %}
                    <code>{% assign name = result.files[key].csv.parse %}</code>
                {% endif %}
            {% endfor %}
        </span>
        <span class="col-span-12">
        <h2>Plot Flagstats</h2>

            {% for key in result.files %}
                {% if key contains '.png' %}
                    {% assign name = result.files[key] %}
                    {% assign image = result.files[key].href %}
                    <h3>{{name}}</h3>
                    <div class="row-fluid">
                        <span class="col-span-12">
                                <img src="{{image}}"></img>
                        </span>
                    </div>
                {% endif %}
            {% endfor %}

        </span>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>



</script>
<!-- <script src="https://basespace-cdn-public-east.s3.amazonaws.com/libraries/d3/d3.v3.min.js"></script> -->
</body>
</html>
